.table-information {
    width: 100%;
    border: 0.1rem solid lightgray;
    box-shadow: 1px 1px 5px #282c34;
    display: table;
    border-collapse: collapse;
    min-height: 5rem;
}
.row, .row-heading {
    display: table-row;
    border-bottom: 0.1rem solid lightgray;
}
.col {
    display: table-cell;
    text-align: left;
    font-size: 0.8rem;
    padding: 0.5rem;
}
.row:hover {
    background-color: #F0F0F0;
}

row-heading:first-letter {
    text-transform:capitalize;
}
input:indeterminate {
    background: lime;
}
input {
    cursor: pointer;
}
.download {
    cursor: pointer;
}